/* mixins */
/*-----*/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900);
@font-face {
  font-family: 'iconos';
  src: url("../font/icomoon.eot?guw6kg");
  src: url("../font/icomoon.eot?#iefixguw6kg") format('embedded-opentype'), url("../font/icomoon.woff?guw6kg") format('woff'), url("../font/icomoon.ttf?guw6kg") format('truetype'), url("../font/icomoon.svg?guw6kg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
body,
html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  max-width: 100%;
  width: 100%;
  background-color: #ffffff;
}
h1,h2,h3,h4 {
  color: #01ac0e;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
h1.h1-seccion {
  color: #fd640a !important;
  font-weight: 400;
}
label {
    display: inline-block;
    font-weight: 300;
    font-size: 1.29em;
}
.nav-separador {
    border-bottom: 1px solid rgba(0, 151, 217, 0.15);
    margin-bottom: 3em;
    box-shadow: 2px 8px 11px -3px rgba(200, 202, 204, 0.28);
}
.ico-login{
  color: #337AB7 !important;
}
.categorias .badge{
  background-color: #337AB7 !important;
}
.thumb-container,
.thumb-inner,
.thumb-img {
  border: 0;
  display: block;
  display: inline-block;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative;
  width: 100%;
}


.thumb-container {
  height: 9em;  
  width: 100%;
}

.thumb-container a,
.thumb-container img {
  border: 0;
  margin: 0;
}

.thumb-center img,
.thumb-strip,
.thumb-icon {
  position: absolute;
}



.box-shadow{
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.5);
}
.container-full{
  width: 100%;
}
.panel-heading {
  overflow: overlay;
}
p.envio {
    font-size: 3em;
    padding: 0px !important;
    margin: 0px;
    color: #2A2E52;
}
.adSearch {
  background-color: #008cba;
  color: #fff;
}
.bannerPub figure img {
  border-radius: 3px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
}
.btnCart {
  border-bottom: 2px solid #00667a;
  border-radius: 5px;
  padding: 8px;
}
.btnUpdate {
  background-color: #358753;
}
.cantCart {
  font-size: 14px;
}
.cartImage figure {
  height: 80px;
  max-height: 80px;
  max-width: 80px;
  width: 80px;
}
.cartImage figure img {
  height: 100%;
  width: 100%;
}
.relacionados .carousel {
    margin-bottom: 0;
    padding: 0px 0px 10px 20px;
}

.relacionados .carousel-control.left, .relacionados .carousel-control.right {
  background-image:none !important;
}
.relacionados .carousel-control .left:hover{
   background-image: linear-gradient(to right,rgba(0,0,0,0.1) 0,rgba(0,0,0,.0001) 100%);
}
.relacionados .carousel-control .right:hover {
  background-image: linear-gradient(to right,rgba(0,0,0,0.1) 0,rgba(0,0,0,.0001) 100%);
}
.relacionados .carousel-control {   
    width: 8%;
    font-size: 10em;
    color: #2A2E52;    
    font-weight: 300;
}

.relacionados .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}

.relacionados .carousel-indicators li {
  background: #c0c0c0;
}

.relacionados .carousel-indicators .active {
background: #333333;
}
.center {
  text-align: center;
}
.contenedor-home {
  position: relative;
  z-index: -1;
}
.container-article {
  background: #fff;
  border: 1px solid #0a96dd;
  border-top: none;
  margin: 0px auto 20px;
  min-height: 400px;
  padding: 10px;
}
.container-cart p {
  color: #47a3da;
  text-align: center;
}
.container-especificaciones {
  margin: 20px 0;
}
.container-especificaciones table {
  box-shadow: 0px 10px 7px -7px rgba(0,0,0,0.5);
}
.container-especificaciones table caption {
  color: #01ac0e;
  font-size: 1.2em;
  font-weight: bold;
}
.div-article h3 {
  font-size: 16px;
}
.divArticles {
  background-color: #fff;
  border-radius: 4px;
  font-size: 1em;
  margin-bottom: 20px;
  padding: 15px;
  transition: 0.6ms all;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3) ;
}
.divArticles:hover {
  box-shadow:none;
}

.divArticles div:nth-child(2) {
  overflow: hidden;
}
.divArticles div:nth-child(3) span {
  color: #4d4d34;
}
.divArticles .spnCosto {
  color: #ffffff;
  font-size: 1.5em;
  text-align: center;
}
.divArticles figure {  
  transition: 0.2ms all;
  width: 100%;
}

.divArticles p {
  position: absolute;
  bottom: 0px;
  background-color: #2A2E52;
  margin: 0 auto;
  width: 100%;
  left: 0px;
  border-radius: 4px 4px 0 0;  
}
.divArticles p.descripcion{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0.1em;
  border-radius: 0 0 4px 4px;
  color: #ffffff;
}
.divArticles p.descripcion:hover {
  white-space: normal;
}
.divArticles p a {
  color: #ffffff;
  text-decoration: none;
}
.divArticles span {
  color: #0a96dd;
  font-size: 13px;
  font-weight: 600;
}
.divArticles .descripcion-costo{
  position: absolute;
  width: 100%;
  top: 30px;
  left: 0px;
}
.divBanners div figure {
  height: 100%;
  max-width: 100%;
  width: 100%;
}
.divBanners div figure img {
  height: 100%;
  width: 100%;
}
.divCart {
  color: #4d4d34;
}
.divCart span {
  font-size: 40px;
}
.div-compra .container-cant-first {
  background-color: #D2D3D5;
  padding-left: 0.1em;
  padding-right: 0.1em;
}
.div-compra h4{
  color: #2A2E52;
  font-weight: 500;
}
.div-compra p.precio {
  font-weight: 300;
  font-size: 3.47em;
  color: #2A2E52;
  margin: 0px !important;
}
.div-compra p:first-child span {
  color: #47a3da;
  font-size: 18px;
  font-weight: bold;
}
.div-compra p.iva {
    font-size: 0.8em;
}
.div-compra p.disponible {
  font-size: 1.3em;
  font-weight: 300;
}
.div-compra p.costo-envio {
    font-size: 0.67em;
}
.div-compra .descripcion{
  border: 1px solid #e7e7e7;
  padding: 1em;
}
.div-compra .table>tbody>tr>td{
   border-top: none !important;
   font-size: 0.89em;
}
.divFrom {
  display: none;
}
.divProductosMarca div.articulomarca {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.5);
  padding: 10px;
  margin-bottom: 2.33em;
}
.articulomarca div a p {
  color: #0093dd;
}
.articulomarca div a:hover {
  text-decoration: none;
  transition: 0.5ms all;
}
.articulomarca div a:hover p {
  color: #fd640a;
}


.articulomarca div p.sku {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.articulomarca div p.marcap {
  color: #01ac0e;
}
.articulomarca div p.price {
  color: #000;
}
div.divImg {
  border-right: 1px solid rgba(0,0,0,0.5);
  text-align: center;
}
span.earphone{
  color: #01ac0e;
  font-size: 1.3em;
}
a.earphone{
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 300;
}
.envios h3{
  color: #ffffff;
}
.f-pagos h3 {
  color: #ffffff;
}
.divSearch {
  background-image: url("../img/header.jpg"), url("../img/header2.jpg");
  background-repeat: no-repeat;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
  height: auto;
  padding: 5px;
  margin-bottom: 15px;
}
.divSearch div figure.logo {
  height: 60px;
}
.divSearch div figure.logo img {
  height: 100%;
  width: 60%;
}
footer {    
    bottom: 0px;
}
.footer-bottom{
  color: #fff;
  background-color: #2A2E52;
  padding: 1.4em 1em 1em 1em;
}
.footer {
  background-color: #cbcbcb;  
}
.menu-footer li a{
  color: #ffffff;
  text-decoration: none;

}
.footer .footer-after p {
  line-height: 30px;
}
.footer .footer-before {
  max-width: 100%;
  width: 100%;
}
.footer .footer-before ul:first-child {
  list-style: none;
}
.footer .footer-before ul:first-child li {
  display: inline-block;
  margin-right: 1%;
  text-align: center;
  vertical-align: top;
  width: 30%;
}
.footer .footer-before ul:first-child li a {
  color: #000;
  font-size: 14px;
}
.footer .footer-before ul:first-child li h3 {
  font-size: 14px;
}
.footer .footer-before ul:first-child li ul {
  display: block;
}
.footer .footer-before ul:first-child li ul li {
  display: block;
  font-size: 12px;
  width: 80%;
}

hr {
  background-color: #47a3da;
  border: 0;
  height: 2px;
}
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 13.8px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5), 0px 0px 1px #0d0d0d;
  background: #0a96dd;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
  border: 1px solid #fff;
  height: 30px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(0,147,221,0.8);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5), 0px 0px 1px #0d0d0d;
  background: #0a96dd;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
  border: 1px solid #fff;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #0000e6;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #00f;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000, 0px 0px 1px #0d0d0d;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.5), 0px 0px 1px #0d0d0d;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #fff;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #00f;
}
input[type=range]:focus::-ms-fill-upper {
  background: #1a1aff;
}
.lnkCart {
  text-decoration: none !important;
}
.loader {
  border-bottom: 2px solid #47a3da;
  border-top: 2px solid #01ac0e;
  border-radius: 35px;
  display: none;
  height: 35px;
  margin: 0 auto;
  transition: 2ms all;
  width: 35px;
  animation: loader 500ms infinite linear;
}
.mapa {
  border: 3px solid rgba(0,147,221,0.5);
  border-radius: 3px;
  box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  float: left;
  height: 450px;
  margin-top: 35px;
  width: 100%;
}
p.ofertas {
  color: #f00 !important;
  text-align: center;
}
.pMsj {
  color: #47a3da;
  font-weight: bold;
  text-align: center;
}
.ptitulo {
  color: #fd640a;
  font-weight: bold;
}
.slider {
  border: 3px solid rgba(203,203,203,0.7);
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.4);
  height: 300px;
  margin: 50px 0 20px;
}
.spnTel {
  color: #01ac0e;
  font-weight: bold;
}
.spnTel:before {
  color: #0093dd;
  content: "\e942";
  display: inline-block;
  font-family: "iconos";
  font-size: 16px;
}
.table-cart tr td.qty {
  max-width: 90px;
  width: 90px;
}
.table-cart tr td.tdTotal {
  color: #01ac0e;
  font-size: 16px;
  font-weight: bold;
  line-height: 50px;
}
.table-cart tr td.tdTotalCant {
  font-size: 12px;
  font-weight: bold;
  line-height: 50px;
  text-decoration: underline;
}
.table-cart tr th {
  text-align: center;
}
@-webkit-keyframes loader {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes loader {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-ms-keyframes loader {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-o-keyframes loader {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (min-width: 524px) { 
  .thumb-container {
    height: 18em; 
  }
  h2{
    padding-left: 0.756em
  }
 }
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  .thumb-container {
    height: 21em; 
  }
 }

/* Medium devices (desktops,  and up) */
@media (min-width: 992px) { 
  .thumb-container {
    height: 13em;  
  }
  .relacionados .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }
 }

/* Large devices (large desktops,  and up) */
@media (min-width: 1200px) { 
  .thumb-container {
    height: 16em;  
  }
  .relacionados .carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
  }

 }
@media screen and (max-width: 960px) {
  
  .container-mov{
    width: 100% !important;
    padding: 0px;
  }
  .padding-container{
    padding-left: 0.1em;
    padding-right: 0.1em;
  }
  .padding-container h2{
    padding-left: 0.756em
  }
  a.earphone {
    font-size: 1.1em;
  }    
  .articulomarca div p.pDesc {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .articulomarca {
    margin-left: 0.1em;
    margin-right: 0.1em;
  }
    
  .envios h3{
    text-align: center !important;
  }
  .f-pagos h3{
    text-align: center !important;
  }
  .p-relacionado{
    padding-right: 0.3em;
    padding-left: 0.3em;
  }
  
}
/*No hay resultados*/
.figure{
  display: block;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}
.ups {
  background-color: transparent;
  text-align: center;
  position: relative;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
}
 
.ups b {
  background-color: #337ab7;
  height: 50px;
  width: 30px;
  display: block;
  float: left;
  margin-left: 50px;
  margin-top: 25px;
  margin-right: 45px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 75px;
  animation-name: ojos;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
 
.ups i {  
  border: 2px solid #337ab7;
  height: 80px;
  width: 100px;
  display: block;
  position: absolute;
  bottom: 10px;
  left: 75px;
  -moz-border-radius: 75px;
  -webkit-border-radius: 75px;
  border-radius: 50px 50px 0px 0px;
  border-bottom: none;border-left: none;border-right: none;
  animation-name: boca;
  animation-duration: 3.5s;
}
@keyframes ojos {
    0%   {height: 2px;margin-top: 53px;}
    25%  {height: 50px;margin-top: 25px;}
    50%  {height: 2px;margin-top: 53px;}
    100% {height: 50px;margin-top: 25px;}
}
@keyframes boca {
    0%   {width: 70px;left: 90px;border-bottom: 2px solid  #337ab7;border-left: 2px solid #337ab7;border-right: 2px solid #337ab7;border-radius: 35px 35px 35px 35px;}
    5%   {width: 70px;left: 90px;border-bottom: 1px solid  #337ab7;border-left: 1px solid #337ab7;border-right: 1px solid #337ab7;border-radius: 35px 35px 35px 35px;}
   
    100% {width: 100px;left: 75px;border-bottom: none;border-left: none;border-right: none;border-radius: 50px 50px 0px 0px;}
}